#
# Mozart (AHB 20MHz)
# DDR3
# FPGA
#

##### Configuration Version #####
CONFIG_VERSION = 0x13052001

##### DDR Data Training #####
CONFIG_PUB_BUILTIN_TRAINING = n
#CONFIG_PUB_SW_TRAINING = y

##### DDR_TYPE #####
# values:
#	DDR2
#	DDR3
CONFIG_DDR_TYPE = DDR3

##### 2Gb DDR Capacity #####
# internal banks
CFG_BANK_NUM = BANKS_8
# row address bit width
CFG_ROW_WIDTH = 14
# column address bit width
CFG_COl_WIDTH = 10

CONFIG_SYSTEM_DDR = 0

##### Write ODT #####
# values:
#	20/30/40/60/120 ohm

##### Timing Parameters ######
CFG_T_MOD = 12
CFG_T_WTR = 4
CFG_T_RTP = 4
CFG_T_RCD = 6
CFG_T_RRD = 4
CFG_T_MRD = 4
CFG_T_RP = 6
CFG_T_RFC = 7
CFG_T_FAW = 0
CFG_T_RC = 20
CFG_T_RAS = 15
CFG_T_IDLE = 68
CFG_T_REF_NORMAL = 0x138
CFG_T_REF_EXTENDED = 0x9C
CFG_T_DLLRST = 782
CFG_T_PWRON = 80000
CFG_CL = 6
CFG_CWL = 5

# possible adjustment for FPGA timing
#CFG_0_UDQS_POL = 1
#CFG_0_LDQS_POL = 1


##### CFG_BYP_PUB_EN #####
# Bypass or through PUB
# values:
#	THROUGH_PUB
#	BYPASS_PUB
CFG_BYP_PUB_EN = BYPASS_PUB

# disable VT drift PHY update
CFG_PUREN = 0

# disable these delay VT compensations
CFG_WLLVT = 0
CFG_WDLVT = 1
CFG_RDLVT = 0
CFG_RGLVT = 0
CFG_RDBVT = 0
CFG_WDBVT = 0
#CFG_MR1_AL = 0

# Enable Controller-initiate PHY updates mechanism
CFG_MCI_IOPHY_UPDATE_EN = 1
