#
# ASC8852A
# DDR2
# EVM
#

CONFIG_V3 = 1

##### Configuration Version #####
CONFIG_VERSION = 0x14031701

##### DDR Data Training #####
CONFIG_0_PUB_BUILTIN_TRAINING = y
CONFIG_1_PUB_BUILTIN_TRAINING = n

##### DDR_TYPE #####
# values:
#	DDR2
#	DDR3
CONFIG_DDR_TYPE = DDR2

##### 1Gb DDR Capacity #####
# internal banks
CFG_BANK_NUM = BANKS_8
# row address bit width
CFG_ROW_WIDTH = 13
# column address bit width
CFG_COl_WIDTH = 10

##### Write ODT #####
# values:
#	50/75/150 ohm
#CONFIG_WRITE_ODT = 0

##### Timing Parameters ######
CFG_T_WTR = 3
CFG_T_RTP = 3
CFG_T_RCD = 5
CFG_T_RRD = 4
CFG_T_MRD = 2
CFG_T_RP = 5
CFG_T_RFC = 0x33
CFG_T_FAW = 0x12
CFG_T_RC = 0x17
CFG_T_RAS = 0x12
CFG_T_IDLE = 0xa0
CFG_T_REF_NORMAL = 0xC30
CFG_T_REF_EXTENDED = 0x618
CFG_T_DLLRST = 0xc8
CFG_T_PWRON = 80000

CFG_T_AONFD = 0
CFG_T_WLO = 3
CFG_T_WLMRD = 0x28

CFG_T_CCD = 0
CFG_T_RTW = 0
CFG_T_RTODT = 0
CFG_T_DLLK = 0x200
CFG_T_CKE = 0x3
CFG_T_XP = 8
CFG_T_XS = 0xC8

CFG_CL = 6
CFG_0_CL = 6
CFG_1_CL = 7
CFG_CWL = 5
CFG_DQSRES = 4
CFG_MR1_RDQS = 1
#CFG_MR1_DOSN = 1


##### CFG_BYP_PUB_EN #####
# Bypass or through PUB
# values:
#	THROUGH_PUB
#	BYPASS_PUB
CFG_BYP_PUB_EN = BYPASS_PUB

# disable VT drift PHY update
CFG_PUREN = 0

# disable these delay VT compensations
CFG_WLLVT = 0
CFG_WDLVT = 1
CFG_RDLVT = 0
CFG_RGLVT = 0
CFG_RDBVT = 0
CFG_WDBVT = 0

# Enable Controller-initiate PHY updates mechanism
CFG_MCI_IOPHY_UPDATE_EN = 1

CFG_MON_CLK_1 = 0x12
