#
# ASC8840M2
# DDR3
# EVM
#

##### Configuration Version #####
CONFIG_VERSION = 0x14031801

##### DDR Data Training #####
CONFIG_1_PUB_BUILTIN_TRAINING = y

##### DDR_TYPE #####
# values:
#	DDR2
#	DDR3
CONFIG_DDR_TYPE = DDR3

##### DDR Ports #####
CONFIG_DDR_PORT_0 = 0   # no DDR 0

##### 1Gb DDR Capacity #####
# internal banks
CFG_BANK_NUM = BANKS_8
# row address bit width
CFG_ROW_WIDTH = 13
# column address bit width
CFG_COl_WIDTH = 10

##### ODT #####
CONFIG_DYNAMIC_READ_ODT = 0

##### Timing Parameters ######
CFG_T_MOD = 0xC
CFG_T_WTR = 4
CFG_T_RTP = 4
CFG_T_RCD = 5
CFG_T_RRD = 4
CFG_T_MRD = 4
CFG_T_RP = 5
CFG_T_RFC = 0x36
CFG_T_FAW = 0
CFG_T_RC = 0x11
CFG_T_RAS = 0xD
CFG_T_IDLE = 0x39
CFG_T_REF_NORMAL = 0xA27
CFG_T_REF_EXTENDED = 0x514
CFG_T_DLLRST = 0x28C
CFG_T_PWRON = 0x1046B
CFG_CL = 5
CFG_CWL = 5



##### CFG_BYP_PUB_EN #####
# Bypass or through PUB
# values:
#	THROUGH_PUB
#	BYPASS_PUB
CFG_BYP_PUB_EN = BYPASS_PUB

# disable VT drift PHY update
CFG_PUREN = 0

# disable these delay VT compensations
CFG_WLLVT = 0
CFG_WDLVT = 1
CFG_RDLVT = 0
CFG_RGLVT = 0
CFG_RDBVT = 0
CFG_WDBVT = 0

# Enable Controller-initiate PHY updates mechanism
CFG_MCI_IOPHY_UPDATE_EN = 1
